@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #333;
}
.navbar h1:hover {
  cursor: default;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-size: 16px;
  color: #333;
}
.navbar a:hover {
  color: #aeaeae;
}
.content {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}
.formContainer {
  flex-basis: 50%;
  flex-grow: 0;
  padding-right: 16px;
}
.demo h2 {
  text-align: center;
  margin-bottom: 24px;
}
.demoContainer {
  width: 100% !important;
  border-top: #f2f2f2 1px solid;
  padding: 24px !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: fit-content;
}
.field-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.field-input div {
  flex: 0 66%
}
.field-input input {
  flex: 0 66%
}
.full-center {
  display: flex;
  justify-content: center;
}